<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div class="p-b-10 text-center">
            <h3 class="ltext-103 cl5">
                Sản Phẩm mới nhất
            </h3>
        </div>
        <div class="flex-w flex-sb-m p-b-52"></div>
        <div class="row isotope-grid">
            {{Th_Danh_sach_San_pham_Hot}}
        </div>
    </div>
    <div class="container">
        <div class="p-b-66">
            <h3 class="ltext-105 cl5 txt-center respon1">
                #KIEHLIT'sME
            </h3>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4 p-b-40">
                <div class="blog-item">
                    <div class="hov-img0">
                        <a href="/collections/all">
                            <img src="{{url_for('static', filename = 'images/blog-01.jpg')}}" alt="IMG-BLOG">
                        </a>
                    </div>

                    <div class="p-t-15">
                        <h4 class="p-b-12">
                            <a href="blog-detail.html" class="stext-109 cl2 hov-cl1 trans-04">
                                <strong>Nguyên Hà thật phong cách trong bộ suite <br> #Kiehl</strong>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 p-b-40">
                <div class="blog-item">
                    <div class="hov-img0">
                        <a href="/collections/all">
                            <img src="{{url_for('static', filename = 'images/blog-02.jpg')}}" alt="IMG-BLOG">
                        </a>
                    </div>

                    <div class="p-t-15">
                        <h4 class="p-b-12">
                            <a href="blog-detail.html" class="stext-109 cl2 hov-cl1 trans-04">
                                <strong>Lan Anh trong chiếc áo thun thật năng động và trẻ trung <br> #Kiehl</strong>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 p-b-40">
                <div class="blog-item">
                    <div class="hov-img0">
                        <a href="/collections/all">
                            <img src="{{url_for('static', filename = 'images/blog-03.jpg')}}" alt="IMG-BLOG">
                        </a>
                    </div>

                    <div class="p-t-15">
                        <h4 class="p-b-12">
                            <a href="blog-detail.html" class="stext-109 cl2 hov-cl1 trans-04">
                                <strong>Phong cách dạo phố của 2 bạn Trâm Anh và Đan Lê <br> #Kiehl</strong>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>